h2 {
  text-align: center;
}

.note {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 25px;
  display: flex; /* Use flexbox to align items inline */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute space between items */
}

/* Style for action buttons like Save and Cancel */
.actions {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Align the buttons vertically */
}

.actions button {
  background-color: #ad4bb6;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 5px; /* Add space between buttons */
  border-radius: 25px;
  cursor: pointer; /* Indicate the buttons are clickable */
}

.form {
  display: flex;
  align-items: center; /* Align form items vertically */
  margin-top: 10px;
}

.form input[type="text"],
.form select {
  flex: 1; /* Allow input and select to grow */
  padding: 10px;
  margin-right: 5px; /* Add space between input and select */
  border: 1px solid black;
  border-radius: 10px;
}

.form button {
  background-color: #d46ed8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* in editing mode */
.note-textarea,
.note-color-select {
  flex-grow: 2; /* Allow textarea and select to grow */
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

/*  in edit mode */
.note-save-btn,
.note-cancel-btn {
  background-color: #d46ed8;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 5px; /* Add space between buttons */
  border-radius: 4px;
}

body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #333;
  color: #fff;
}
